!!! XML utf-8
!!! Strict
:plain
  {% assign lang = 'en' %}{% capture timestamp %}{{site.time | date: "%a, %d %b %y %H:%M:%S +0100" }}{% endcapture %}
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "{{ lang }}", :lang => "{{ lang }}" }>
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ "http-equiv" => "Date", :content => "{{ timestamp }}" }
    %meta{ "http-equiv" => "Last-Modified", :content => "{{ timestamp }}" }
    %meta{ :name => "description", :content => "A personal blog about programming." }
    %meta{ :name => "author", :content => "Bas Bossink" }
    {% if page.categories %}
    %meta{ :name => "keywords", :content => "{{ page.categories | join: ',' }}" }>
    {% endif %}
    {% if page.keywords %}
    %meta{ :name => "keywords", :content => "{{ page.keywords | join: ',' }}" }>
    {% endif %}    
    %title {{ page.title }}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/default.css"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/syntax.css"}
    %link{ :rel => "alternate", :type => "application/atom+xml",
           :href => "/atom.xml", :title => "Sitewide ATOM Feed"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20785819-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %div#banner
      %h1 Move along, nothing to see here
      %h2 Ramblings about my programming escapades.
    
    %div#container
      {{ content }}
      %div.footer  
        %hr
        %a{ :href => "http://validator.w3.org/check?uri=referer"}
          %img{ :src => "/images/w3c-xhtml.png", :alt => "Valid XHTML 1.0 Strict"}
        %a{ :href => "http://jigsaw.w3.org/css-validator/check/referer"}
          %img{ :src => "/images/w3c-css.png", :alt => "Valid CSS"}
        %a{ :href => "http://feed2.w3.org/check.cgi?url=http%3A//basbossink.github.com/atom.xml"}
          %img{ :src => "/images/valid-atom.png", :alt => "Valid Atom 1.0"}
        %a{ :href => "http://www.gnu.org/software/emacs/"}
          %img{ :src => "/images/emacs-powered.png", :alt => "Powered by GNU Emacs"}
        %a{ :href => "http://www.anybrowser.org/campaign/"}
          %img{ :src => "/images/anybrowser.png", :alt => "Best viewed with any browser."}
        %a{ :href => "http://creativecommons.org/licenses/by/3.0/nl/", :rel => "license"}
          %img{ :src => "http://i.creativecommons.org/l/by/3.0/nl/80x15.png", 
                :alt => "Creative Commons License"}
        %br>
        Hosted by 
        %a{ :href => "https://github.com/basbossink/basbossink.github.com/"} GitHub
        and powered by&#32;
        %a{ :href => "https://github.com/mojombo/jekyll/"}> Jekyll
        ,&#32;
        %a{ :href => "http://haml-lang.com/"} Haml
        &amp;&#32;
        %a{ :href => "http://sass-lang.com/"}> Sass
        \.
        %br>
        This work is licensed under a&#32;
        %a{ :rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/nl/"}> |
        Creative Commons Attribution 3.0 Netherlands License |
        \.
        %br>
        Copyright &copy; {{ site.time | date: "%Y" }} Bas Bossink
        %br>
        Last updated on: {{ site.time | date_to_xmlschema }}

    %div#linkList
      %a{ :href => "/atom.xml"}
        %img{ :alt => "subcribe", :src => "/images/feed-icon.png"}
      %h3
        %a{ :href => "/"} Home
      %h3 Posts
      %ul
        {% for post in site.posts limit: 5 %}
        %li>
          %a{ :href =>"{{ post.url }}"}>{{ post.title | truncate: 120 }}
        {% endfor %}
      %h3 Profiles
      %ul
        %li
          %a{ :href => "http://stackoverflow.com/users/74198/bas-bossink"}
            %img{ :src => "http://stackoverflow.com/users/flair/74198.png",
                  :width => "208", :height =>"58", 
                  :alt => "Stack Overflow profile for Bas Bossink" }
        %li
          %a{ :href => "http://nl.linkedin.com/in/basbossink"}
            %img{ :src => "http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.gif",
                  :width => "160", :height => "33", 
                  :alt => "View Bas Bossink's profile on LinkedIn"}
        %li 
          %a{ :href => "http://www.twitter.com/basbossink"}
            %img{ :src => "http://twitter-badges.s3.amazonaws.com/follow_me-a.png",
                  :alt => "Follow basbossink on Twitter"}
        %li
          %a{ :href => "http://nl-nl.facebook.com/people/Bas-Bossink/1820090791"}
            %img{ :src => "/images/facebook.png", :width => "79", :height=> "23",
                  :alt => "follow Bas Bossink on Facebook"}
        %li
          %a{ :href => "http://friendfeed.com/basbossink"}
            %img{ :src => "http://friendfeed.com/static/images/chiclet.png",
                  :alt => "Subscribe to me on FriendFeed"}
      %h3 Projects
      %ul
        - [[ "http://nl.gitready.com", "git ready (dutch translation)"],
           [ "https://basbossink.github.com/skelhs/", "Skelhs"],
           [ "https://github.com/basbossink/hspec/", "hspec"],
           [ "https://github.com/basbossink/presentations/", "presentations"],
           [ "https://github.com/basbossink/dot-files/", "dot-files"],
           [ "https://bitbucket.org/basbossink/pygments-main/", "Pygments fork"]].each do |ref,txt| 
          %li
            %a{ :href => "#{ref}"}#{txt}
      %h3 Tags
      %ul
        :ruby
          require 'rubygems'
          require 'jekyll'
          puts "<!--"
          options = Jekyll.configuration({})
          site = Jekyll::Site.new(options)
          site.read_posts('')
          puts "-->"
          site.categories.sort.each do |category, posts|
              print "<li>"
              print "<a href='/tags/#{category.gsub(/\s+/,'-')}.html'>"
              print "#{category} (#{posts.length})</a>"
              print "</li>"
          end

