!!! 5
:plain
  {% assign lang = 'en' %}{% capture timestamp %}{{site.time | date: "%a, %d %b %y %H:%M:%S +0100" }}{% endcapture %}
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ "http-equiv" => "Date", :content => "{{ timestamp }}" }
    %meta{ "http-equiv" => "Last-Modified", :content => "{{ timestamp }}" }
    %meta{ "http-equiv" => "Access-Control-Allow-Origin", :content => "*" }
    %meta{ :name => "description", :content => "A personal blog about programming." }
    %meta{ :name => "author", :content => "Bas Bossink" }
    {% if page.categories %}
    %meta{ :name => "keywords", :content => "{{ page.categories | join: ',' }}" }>
    {% endif %}
    {% if page.keywords %}
    %meta{ :name => "keywords", :content => "{{ page.keywords | join: ',' }}" }>
    {% endif %}    
    %title {{ page.title }}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/combined.css"}
    %script{ :type => "text/javascript", :src => "/js/shCore.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushPowerShell.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushCSharp.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushRuby.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushPlain.js"}
    %link{ :rel => "alternate", :type => "application/atom+xml",
           :href => "/atom.xml", :title => "Sitewide ATOM Feed"}
    :javascript
      SyntaxHighlighter.all();
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20785819-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %header
      %div#banner
        %h1 Move along, nothing to see here
        %h2 Ramblings about my programming escapades.
    %aside
      %nav
        %div#linkList
          %a{ :href => "/atom.xml"}
            %img{ :alt => "subcribe", 
            :src => "/images/feed-icon.png", 
            :height => "16", 
            :width => "16" }
          %h3
            %a{ :href => "/"} Home
          %h3 Posts
          %ul
            {% for post in site.posts limit: 10  %}
            %li>
              %a{ :href => "{{ post.url }}" }>
                {{ post.title }}
              %div.comment_count
                %a{ :href => "{{ post.url }}#disqus_thread", 
                  "data-disqus-identifier" => "{{ post.id }}" }>
            {% endfor %}
          %h3 
            %a{ :id => 'profiles' }
              Profiles
          %ul
            %li
              %a{ :href => "http://stackoverflow.com/users/74198/bas-bossink"}
                Stack Overflow
              - require 'uri'
              - require 'yajl/gzip'
              - require 'yajl/deflate'
              - require 'yajl/http_stream'
              - url = URI.parse('http://api.stackoverflow.com/1.0/users/74198')
              - result = Yajl::HttpStream.get(url)
              - me = result['users'][0]
              - rep = me['reputation']
              - golds = me['badge_counts']['gold']
              - silvers = me['badge_counts']['silver']
              - bronzes = me['badge_counts']['bronze']
              %div.by_line
                = rep
                = ":: <span class='gold'>#{golds}</span>" 
                = ":: <span class='silver'>#{silvers}</span>" 
                = ":: <span class='bronze'>#{bronzes}</span>" 
            %li 
              %a{ :href => "https://github.com/basbossink" }
                Github
            %li
              %a{ :href => "http://coderwall.com/basbossink" }
                Coderwall
            %li 
              %a{ :href => "http://www.codecademy.com/users/netrunner27248"}
                Codeacademy
            %li 
              %a{ :href => "http://www.twitter.com/basbossink"}
                Twitter
            %li
              %a{ :title =>"Google+",
                  :rel => "author", 
                  :href => "https://plus.google.com/u/0/115103420698129324744?rel=author",
                  :alt => "Google+" }
                Google+
            %li
              %a{ :href => "http://nl.linkedin.com/in/basbossink"}
                LinkedIn
            %li
              %a{ :href => "http://nl-nl.facebook.com/people/Bas-Bossink/1820090791"}
                Facebook
          %h3 Projects
          %ul
            - [[ "http://basbossink.github.io/presentations/", "presentations"],
               [ "https://github.com/basbossink/basbossink.chocolatey.utilities", "chocolatey packages"]].each do |ref,txt| 
              %li
                %a{ :href => "#{ref}"}#{txt}
          %h3 Tags
          %ul
            :ruby
              require 'rubygems'
              require 'jekyll'
              options = Jekyll.configuration({})
              site = Jekyll::Site.new(options)
              site.read_posts('')
              site.categories.sort.each do |category, posts|
                haml_io.puts("<li><a href=\"/tags/#{category.gsub(/\s+/,'-')}.html\">#{category} (#{posts.length})</a></li>")
              end
          :javascript
            google_ad_client = "ca-pub-2311864687324407";
            /* blog */
            google_ad_slot = "7855154384";
            google_ad_width = 120;
            google_ad_height = 240;
          %script{ :type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js"}
    %div#container
      {{ content }}
    %footer
      %div.footer  
        %p
          Hosted by 
          %a{ :href => "https://github.com/basbossink/basbossink.github.com/"} GitHub
          and powered by&#32;
          %a{ :href => "https://github.com/mojombo/jekyll/"}> Jekyll
          ,&#32;
          %a{ :href => "http://haml-lang.com/"} Haml
          &amp;&#32;
          %a{ :href => "http://sass-lang.com/"}> Sass
          \.
        %p
          This work is licensed under the&#32;
          %a{ :rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/nl/"}> 
            Creative Commons Attribution 3.0 Netherlands License
          \.
          Copyright &copy; {{ site.time | date: "%Y" }} Bas Bossink
        %p
          Last updated on: {{ site.time | date_to_xmlschema }}
